
@import url(../components/sidebar.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  padding: 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 250px;
}
.header {
  background: rgb(221,246,237);
  background: linear-gradient(90deg, rgba(221,246,237,1) 54%, rgba(50,182,132,1) 100%);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.header h2 {
  margin: 0;
  font-size: 20px;
}
.main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.chat-window {
  flex-grow: 1;
  background-color: #ddf6ed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.messages {
  flex-grow: 1;
  overflow-y: auto;
}
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.message.user {
  justify-content: flex-end;
}
.message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d1d5db;
  margin-right: 10px;
}
.message.user .avatar {
  margin-right: 0;
  margin-left: 10px;
}
.message .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.message .text {
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
}
.message.user .text {
  background-color: #74dbb2;
}
.message .text p {
  margin: 0;
}
.message .text p:first-child {
  font-weight: bold;
}
.message .text p:last-child {
  margin-top: 5px;
}
.input-area {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.input-area input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}
.input-area input:focus {
  outline: none;
}
.input-area button {
  background-color: #32b684;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .chatsidebar {
    width: 100%;
    box-shadow: none;
  }
  .main {
    flex-direction: column;
  }
}