body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5f5e9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2fbf4;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 40px; 
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

header .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon-row {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: 150px;
}

header ul li {
    margin-right: 40px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: #103e07;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    gap:20px;
}

.container-inside {
    width:58%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: #f2f3ec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}


h2 {
    margin: 0 0 20px;
}

.billing-details {
    flex: 1;
    margin-right: 20px;
}

.billing-details label {
    display: block;
    margin: 10px 0 5px;
}

.billing-details input,
.billing-details select,
.billing-details textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.order-summary {
    width: 30%;
    height: 450px;
    background: #f2f3ec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top:30px;
}

.order-summary table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-summary th, .order-summary td {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid #d3d2d2;
}

.order-summary th {
    background-color: #e2e2e2;
}

.payment-method {
    margin-top: 20px;
}

.payment-method label{
    display: block;
    margin: 10px 0 5px;
}

.place-order {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.place-order:hover {
    background-color: #45a049;
}