body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5f5e9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2fbf4;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 40px; 
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

header .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon-row {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: 150px;
}

header ul li {
    margin-right: 40px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.container {
    max-width:80%;
    margin: auto;
    background: #e5f5e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px; 
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #333;
}

.cart{
    display: flex;
    flex-direction: column;
    background: rgb(234, 237, 222); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d4d2d2;        
}

.product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.remove-button {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

.quantity-input {
    width: 40px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.coupon-section {
    margin-top: 30px;
    margin-bottom: 20px;
}

.coupon-input {
    flex: 1;
    padding: 10px;
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.apply-coupon, .update-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.apply-coupon:hover, .update-cart:hover {
    background-color: #45a049;
}

.cart-totals {
    background: #e5e2e2; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
    width: 400px;    
    margin-left: auto;
}

.cart-totals h2 {
    margin: 0 0 10px; 
    font-size: 24px;
    color: #333;
}

.totals-row {
    display: flex;
    justify-content: space-between; 
    padding: 10px 0; 
}

.totals-row span {
    font-size: 16px; 
    color: #333; 
}

hr {
    border: none; 
    border-top: 1px solid #cfcfcf; 
    margin: 10px 0; 
}

.checkout-button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 16px; 
}

.checkout-button:hover {
    background-color: #45a049; 
}