@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: #fff;
    padding: 20px 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 10px;
}

header .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 120px; 
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

header .logout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.dashboard-container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #27b938;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
    position: fixed;
    margin-top: 10px;
    border-top-right-radius: 25px;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.sidebar .profile p {
    margin: 5px 0;
    font-size: 16px;
    color: #fff; 
}

.sidebar .profile a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #e7e7e7;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #dddddd;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.main-content {
    margin-left: 270px; 
    padding: 20px;
    flex-grow: 1;
}

.main-content-header h1 {
    font-size: 45px;
    font-weight: bold;
    color: #032b03;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
}

.card {
    background-color: #d3f4e6;
    padding: 20px;
    border: 0.5px solid #eaf1ed;
    border-radius: 5px;
    width: 30%;
    height: 200px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-card {
    background-color: #d3f4e6;
    padding: 20px;
    border: 0.5px solid #eaf1ed;
    border-radius: 5px;
    width: 48%;
    height: 200px;
    transition: transform 0.3s ease;
}

.bottom-card:hover {
    transform: translateY(-5px);
}

@media (max-width: 991px) {
  .main-content {
    padding: 20px;
  }
  .featured-content {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .featured-content .card {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }
  .main-content {
    margin-left: 0;
    padding: 10px;
  }
}
