body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    background-color: #27b938;
    color: white;
    padding: 20px;
    text-align: center;
}

.header input[type="text"] {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #033608;
    color: white;
    cursor: pointer;
}

.header button:hover {
    background-color: #65a46b;
}


.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.product-card {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.product-details {
    text-align: left;
}

.product-details h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.product-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.product-details .rating {
    color: #ffcc00;
}

.cancel-reason {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cancel-reason label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.cancel-reason select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.confirmation {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.confirmation p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.confirmation .cancel-btn {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.confirmation .cancel-btn:hover {
    background-color: #e60000;
}

.confirmation .adjust-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.confirmation .adjust-btn:hover {
    background-color: #218838;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn:hover {
    background-color: #218838;
    
}