body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #deede2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffbfb;
    padding: 20px 20px;
}
  
header .logo {
    display: flex;
    align-items: center;
}
  
header .logo img {
    height: 60px;
    margin-right: 10px;
}
  
header .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
header nav ul li {
    margin-right: 20px;
}
  
header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
  
header .logout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    background: #c4c4c4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #daeed6;
}

tr {
    background-color: #bec9be;
}

.actions button {
    background-color: #e33008;
    color: #f8f5f5;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.actions button:hover {
    background-color: #c2472b;
    color: #f8f5f5;
}