body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    background-color: #27b938;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.search-container {
    margin-top: 10px;
}

.header input[type="text"] {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #033608;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.header button i {
    margin-right: 5px;
}

.header button:hover {
    background-color: #65a46b;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #27b938;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #28a745;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td .action-btn {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

table td .action-btn i {
    margin-right: 5px;
}

table td .action-btn:hover {
    background-color: #004d00;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.status.delivered {
    background-color: #28a745;
}

.status.in-transit {
    background-color: #ffc107;
}