@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 5%;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo img {
  height: 128px;
  width: 256px;
}

.navbar a {
  font-size: 28px;
  color: black;
  text-decoration: none;
  font-weight: 700;

  margin-left: 80px;
}

.navbar a:hover {
  color: rgb(45, 176, 12);
}
.home {
  display: flex;
  height: 100vh;
  align-items: center;
  background-image: url(./images/background.png);
  background-size: cover;
  padding: 0% 10%;
}

.home-content {
  max-width: 500px;
  height: 50%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.home-content h1 {
  font-size: 80px;
  font-weight: 900;
}

.home-button a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.stylish-button {
  background-color: #64aa1e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 32px;
  transition: background-color 0.3s ease;
}

.stylish-button:hover {
  background-color: #0a6724;
}

.About-us {
  background-image: url(./images/background2.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 49%;
  padding-top: 7%;
}

.About-us-content h2 {
  font-size: 30px;
}

.About-us-content {
  font-size: 20px;
  font-weight: 500;
  height: 40%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.user-details {
  margin: 2px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-details button {
  font-size: 28px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 29px;
  border: none;
  background-color: #dbb236;
  color: white;
}

.user-icons {
  padding-top: 15px;
  display: flex;
}

.user-icons img {
  width: 150px;
  height: 150px;
}

.user {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-services {
  background-image: url(./images/background3.png);
  background-size: cover;
  height: 100vh;
}

.our-services-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding-top: 7%;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
}

.services-button button {
  border: none;
  color: white;
  background-color: #64aa1e;
  padding: 10px 90px;
  font-size: 32px;
  font-weight: 500;
  border-radius: 26px;
}

.service-boxes {
  display: flex;
  justify-content: space-around;
}

.service {
  background-color: white;
  border-radius: 40px;
  display: flex;
  color: #feb700;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 300px;
  height: 500px;
  text-align: center;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}

.service img {
  height: 200px;
  width: 200px;
}

.service button {
  border: none;
  font-size: 24px;
  color: white;
  background-color: #feb700;
  border-radius: 20px;
  padding: 8px 40px;
  cursor: pointer;
}

.service button:hover {
  background-color: #dbb236;
}

.service p {
  font-size: 20px;
  color: #8d8d8d;
  font-weight: 500;
}
