@import url(../components/sidebar.css);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-size: cover;
    background: rgb(34,123,4);
    background: linear-gradient(360deg, rgba(34,123,4,0.29184173669467783) 0%, rgba(77,198,145,1) 42%, rgba(164,191,152,0.4318977591036415) 100%);und-position: center;
}

.header-content {
    padding: 20px;
}

.header-content h1 {
    font-size: 70px;
    margin: 0;
    color:#034209;
    text-align: center;
    margin-top: 60px;
    margin-left: 300px;
    text-shadow: 2px 2px 4px #78bb80;
}

.container {
    display:flex;
    gap: 30px;
    width: 65%;
    margin: 10px auto;
    padding: 20px;
    background-color: none;    
    margin-left:380px;
}

.product-card {    
    margin: 20px; /* Add uniform margin */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: left;
    width: calc(100% / 3 - 40px); /* Account for margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
    text-align: center;
}

.product-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 20px; /* Center and add spacing below */
}

.product-details {
    flex: 1;
}

.product-details h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.product-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #555; 
}

.modal{
    display: none;
    position: fixed;    
    left: 57%;
    top: 47%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 10px;
}

.modal-content {
    margin-top: 20px;
    background-color: #bcc2bc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    font-size: 25px;
    color: #0f0e0e;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 18px;
    color: #070707;
    margin-bottom: 10px;
}

.modal-content .close{
    color: #0b0a0a;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content label {
    font-size: 16px;
    color: #191818;
    display: block;
    margin-bottom: 10px;
}

.modal-content select {
    width: 100%;
    padding: 10px;
    border: 1px solid #b8eebd;
    background-color: #c5eec9;
    border-radius: 5px;
}

.modal-content .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;    
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    background-color: #e20b0b;
}

.modal-content .cancel-btn:hover {
    background-color: #ef483c;
}

.cancel-btn , .adjust-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;    
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 95%;
    margin-bottom: 10px;
}

.cancel-btn{
    background-color: #023523;
}

.cancel-btn:hover {
    background-color: #1e4539;
}

.adjust-btn {    
    background-color: #299233;    
}

.adjust-btn:hover {
    background-color: #65a46b;
}