body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 400px;
}

form {
    background: #ffffff;
    padding: 20px;
}

h1 {
    text-align: center; 
    font-size: 40px;   
    margin-top: 40px;
    margin-left: 350px;
    color: #023802;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 30px;
    color:#044304;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c1cbc3;
    border-radius: 5px;   
    margin-left: 30px;
    background-color: #ebf4eb;
}

input[type="file"] {
    margin-bottom: 20px;
    margin-left: 30px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: #3d903d;
}

.edit{    
    background: #2b10db;    
}

.edit:hover {
    background: #403ddb;
}

.delete{
    background: #ed0505;    
}

.delete:hover {
    background: #e14242;
}

.cancel {    
    background: #616261;  
    margin-top: 10px;  
}
.cancel:hover {
    background: #828282;
}