body {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    background: linear-gradient(180deg, #ececd9, #e2e4d0);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2fbf4;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 40px; 
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

header .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}


header .profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 35px;
}
header .cart-icon svg {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 35px;
}
header .cart-icon-row {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: 150px;
}

header ul li {
    margin-right: 40px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}


.content-wrapper {
    margin-top: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    padding: 20px; 
}

.large-image {
    width: 600px; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.container {
    background-color: rgba(92, 189, 12, 0.5); 
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 550px;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); 
}

.container h1 {
    color: #044424;
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold; 
}

.container p {
    color: #023616; 
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.5; 
}

.cta-button {
    background-color: #0eb22c;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.cta-button:hover {
    background-color: #0a8e1f;
    transform: translateY(-3px); 
}

.button-link {
    text-decoration: none;
}

.container2 {
    display: flex;
    justify-content: center;
    background-color: #d9d7d7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.container2 .item {
    background-color: #e6f2eb;
    color: rgb(14, 14, 14);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
    max-width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container2 .item img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.container2 .item h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container2 .item p {
    font-size: 14px;
    margin: 0;
}

.container3 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #e3eee8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.container3 .item {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
    max-width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container3 .item img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container3 .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container3 .item p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.container3 .cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container3 .cta-button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

.container4 {
    text-align: center;
    padding: 40px;
    background-color: #e6efdd;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.container4 h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    max-width: 250px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product .category {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.product .rating {
    color: #ffcc00;
    font-size: 14px;
    margin-bottom: 10px;
}

.product .price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product .old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 5px;
}

.sale-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0eb22c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.container5 {
    text-align: center;
    padding: 40px;
    background-color: #e4efe3;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.container5 p {
    font-size: 14px;
    margin-bottom: 20px;
    color:#044424;
    
}

.container5 h2 {
    font-size: 40px;
    color: #7e4807;
    margin-bottom: 20px;
    font-weight: bold;
}

.container5 h3 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container5 h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container5 img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.review-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
    max-width: 300px;
    max-height: 300px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-card2 {
    position: relative; 
    overflow: hidden; 
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url('../../images/images/img14.jpg');
    background-size: cover;
    background-position: center;
}

.review-card2 h3 {
    font-size: 35px;
    color: #fcfc0a;
    margin-top: 120px;
    font-weight: bold;
}

.review-card2 h4 {
    font-size: 18px;
    color: #7ac284;
    margin-top: 50px;
    font-weight: bold;
}

.review-card2 p {
    font-size: 14px;
    color: #c3dd9d;
    margin-top: 20px;
}

.review-card2:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.corner-image {
    position: absolute;
    z-index: 500; 
}

.corner-image img {
    width: 200px; 
    height: 150px;
}

.bottom-right {
    bottom: 80px;
    right: 60px;
}

.container6 {
    text-align: center;
    margin-top: 100px;
    padding: 40px;
    background-color: #e0f2e8;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.container6 h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container6 img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    font-size: 15px;
    color: white;   
}