header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2fbf4;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 40px; 
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

header .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}


header .profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 35px;
}

header .cart-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 35px;
}
header .cart-icon svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 35px;
}
header .cart-icon-row {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: 150px;
}

header ul li {
    margin-right: 40px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}