@import url(../components/sidebar.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-size: cover;
    background-position: center;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
  padding-top: 60px;
}

.inside {
    width: 100%;
    margin-bottom: 20px;      
}

.inside h1 {
    font-size: 36px;
    color: #4CAF50;
    margin-left:300px;
}

.inside p {
    color: #888;
    margin: 5px 0 0;
    margin-left:300px;
}

.filterbar {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    gap: 80px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin: 20px;    
    width: 78%;
    margin-left: 300px;    
}

.filterbar .search-box {
    display: flex;
    gap: 10px;
    flex: 1 1 250px;
    align-items: center;
    margin-top:20px;
}
.filter {
    flex: 1 1 200px;
}

.filter h2 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
}

.slider {
    width: 100%;
    margin: 10px 0;
}

.price-range {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

.categories-dropdown {
    flex: 1 1 200px;
}

.categories-dropdown h2 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
}

.categories-dropdown select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: calc(80% - 40px);
    margin-left: 300px;    
}

.product {
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.2s;    
}

.product img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
    margin: 8px 0;
    transition: transform 0.3s ease;
}

.product h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product .price {
    font-size: 20px;
    font-weight: bold;
    color: #4134ed;
}

