@import url(../components/sidebar.css);
body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.inside {
    width: 100%;
    margin-bottom: 20px;      
}

.inside h1 {
    font-size: 36px;
    color: #4CAF50;
    margin-left:300px;
}

.inside p {
    color: #888;
    margin: 5px 0 0;
    margin-left:300px;
}

.filterbar {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    gap: 80px;
    background-color: #ecf7f0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 20px;    
    width: 75%;
    margin-left: 300px;    
}

.filterbar .search-box {
    display: flex;
    gap: 10px;
    flex: 1 1 250px;
    align-items: center;
    margin-top:20px;
}
.filter {
    flex: 1 1 200px;
}

.filter h2 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
}

.slider {
    width: 100%;
    margin: 10px 0;
}

.price-range {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

.categories-dropdown {
    flex: 1 1 200px;
}

.categories-dropdown h2 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
}

.categories-dropdown select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width:calc(80% - 40px);
    margin-left: 300px;    
}

.product {
    background-color: #fff;
    border: 1px solid #10a82e;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.2s;    
}

.product img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}

.product h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product .price {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button:hover {
    background-color: #45a049;
}
