body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #f0efe1, #eeeeea, #eef1ea);
    background-size: cover;
    background-position: center;
}
  
.header1 {
    display: flex;
    align-items: center;
    background: linear-gradient(170deg, #e2e8e1, #abe4c0 );
    color: #033c1f;
    padding: 40px;
    position: relative;
    border-radius: 10px;
}

.header-content {
    flex: 1;
    padding: 20px;
}

.header-content h1 {
    font-size: 80px;
    margin: 0;
    text-align: center;
}

.search-container {
    display: flex;
    margin-top: 20px;
}

.header1 input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 250px;
    margin-left: 510px;
}

.header1 button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.header1 button:hover {
    background-color: #45a049;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eff2e3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.product-card {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #e4e4e4;
    border-radius: 10px;
    width: 95%;
}

.product-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-details h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

.product-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.cancel-reason {
    margin-top: 20px;
    background-color: #edf7ef;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancel-reason label {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.cancel-reason select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.confirmation {
    margin-top: 20px;
    background-color: #edf7ef;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmation p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

.cancel-btn:hover {
    background-color: #ff1a1a;
}

.adjust-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #299233;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.adjust-btn:hover {
    background-color: #65a46b;
}