* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar ul li ul li {
  margin-bottom: 10px;
}

.sidebar ul li ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px;
  background-color: #444;
  border-radius: 18px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.sidebar ul li ul li a:hover {
  background-color: #555;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 20px auto; /* Center the container */
}

.search-input {
  flex: 1; /* Takes up remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: #007bff; /* Button color */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3; /* Darker button color on hover */
}

.main-content h1 {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
  background-color: black;
  padding: 10px 10px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-table th,
.user-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #333;
  color: white;
}

.user-table td button {
  padding: 6px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-table td button:hover {
  background-color: #c0392b;
}
