* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(/images/images/img19.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: rgba(160, 210, 84, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
  text-align: center;
  font-size: 55px;
  margin-bottom: 20px;
  color: #171616;
}

.header-subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: #121111;
  font-size: 20px;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #acacac;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.input-field textarea {
  height: 100px;
  resize: none;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #044b1f;
  border: none;
  border-radius: 5px;
  color: #ede7e7;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #87e2b0;
}
