@import url(../components/sidebar.css);
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fbf6;
    background-size: cover;
    background-position: center;
  }
  
  .dashboard-container {
    display: flex;
  }
  
  .main-content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
  }
  
  .main-content-header h1 {
    font-size: 45px;
    font-weight: bold;
    color: #032b03;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .cardBox .card {
    position: relative;
    background-color: #ddf6ed;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  .cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
  }
  
  .cardBox .card .cardName {
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
  }
  
  .cardBox .card:hover {
    background-color: #74dbb2;
  }
  
  .cardBox .card:hover .numbers,
  .cardBox .card:hover .cardName {
   color: #032b03;
  }
  
  .recentOrders {
    position: relative;
    display: grid;
    height: auto;
    background-color: #ddf6ed;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }  
    
   .recentOrders .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  
  .recentOrders .cardHeader h2 {
    font-weight: 600;
    color: #032b03;
    margin-bottom: 20px;
  }
  
  .recentOrders .table {
    width: 100%;    
    margin-top: 10px;
    padding: 15px;   
  }

  .recentOrders .table th,
  .recentOrders .table td {
      text-align: left; 
  } 

  .recentOrders table tr {
    color: #032b03;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
  }
    
  .recentOrders table tbody tr:hover {
    background-color: #74dbb2;
    color: #032b03;
    border-radius: 10px;
  }

  .recentOrders table tr td {
    padding: 10px;
    text-align: left;
  }

 