body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-size: 16px;
    box-shadow: 0 0 3px #88c688;
    background-color: #f6fff7;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}