@import url(../components/sidebar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f4f4f4;
}

.requests-container {
    width: 900px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #f7fbf6;
    box-shadow: 0 0 10px rgba(211, 248, 217, 0.1);
    border-radius: 10px;
    margin-left: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #065618;
    font-size: 45px;
    margin-left: 300px;
    text-shadow:0 0 10px #b4eabd; 
}

.request {
    border-bottom: 1px solid #e3e2e2;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.request:last-child {
    border-bottom: none; 
}

.request h3 {
    margin: 0;
    font-size: 22px;
    color: #07582d;
}

.request p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.button-row{
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.accept-btn, .reject-btn {
    width: 120px; 
    height: 40px; 
    text-align: center;
}

.accept-btn {
    background-color: #5cb85c;
    color: #fff;
}

.reject-btn {
    background-color: #e01109;
    color: #fff;
}

button:hover {
    opacity: 0.9; 
    transform: scale(1.02); 
}
