
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.requests-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 370px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.request {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.request h3 {
    margin: 0;
}

.request p {
    margin: 5px 0;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-btn {
    background-color: #5cb85c;
    color: #fff;
}

.reject-btn {
    background-color: #d9534f;
    color: #fff;
}

button:hover {
    opacity: 0.8;
}